{% extends 'base.html.twig' %}

{% block title %}Gestion des reservations{% endblock %}

{% block body %}
    <h1>Gestion des reservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>School</th>
                <th>NomEtablissement</th>
                <th>NbEnfant</th>
                <th>NbAdulte</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.school ? 'Yes' : 'No' }}</td>
                <td>{{ reservation.nomEtablissement }}</td>
                <td>{{ reservation.nbEnfant }}</td>
                <td>{{ reservation.nbAdulte }}</td>
                <td>{{ reservation.nom }}</td>
                <td>{{ reservation.prenom }}</td>
                <td>{{ reservation.email }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">Create new</a>
{% endblock %}
